<ion-header>
    <ion-toolbar color="warning">
        <ion-title>
            Court Couter
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <table >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <tr>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <th>
              
                <ion-label><h1>Team A</h1></ion-label><br>
                <ion-label>
                    <br><h1>{{teamA}}</h1>
                </ion-label>
                <br>
                <tr>
                    <th>
                        <ion-button color="warning" (click)="button1_A()">-3</ion-button>
                        <ion-button color="warning" (click)="button2_A()">+3</ion-button>
                    </th>
                </tr>
                <tr>
                    <th>
                        <ion-button color="warning" (click)="button3_A()">-2</ion-button>
                        <ion-button color="warning" (click)="button4_A()">+2</ion-button>
                    </th>
                </tr>
                <tr>
                    <th>
                        <ion-button color="warning" (click)="button5_A()">-1</ion-button>
                        <ion-button color="warning" (click)="button6_A()">+1</ion-button>
                    </th>
                </tr>
                
            </th>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <th>
            
                <ion-label><h1>Team B</h1></ion-label><br>
                <ion-label>
                    <br><h1>{{teamB}}</h1>
                </ion-label>
                <br>
                <tr>
                    <th>
                        <ion-button color="warning" (click)="button1_B()">-3</ion-button>
                        <ion-button color="warning" (click)="button2_B()">+3</ion-button>
                    </th>
                </tr>
                <tr>
                    <th>

                        <ion-button color="warning" (click)="button3_B()">-2</ion-button>
                        <ion-button color="warning" (click)="button4_B()">+2</ion-button>
                    </th>
                </tr>
                <tr>
                    <th>
                        <ion-button color="warning" (click)="button5_B()">-1</ion-button>
                        <ion-button color="warning" (click)="button6_B()">+1</ion-button>
                    </th>
                </tr>

            </th>
        </tr>
    </table>
    <br>
    <div class="footer">
        <ion-button color="warning" (click)="reset()">RESET</ion-button>
    </div>

</ion-content>